
<li>
<div class="row">
	<div class="col-xs-9 col-md-10">
		<div class="comment-info">
			
			<p>Commenter:<%= comment.commenter %></p>
		</div>
		<div class="comment-text">
			<p><%= comment.body %></p>
		</div>
		<div class="action">
     			<button type="button" class="btn btn-danger btn-xs" title="edit">
			<%= link_to 'Destroy Comment', [comment.article, comment], method: :delete,
               data: { confirm: 'Are you sure?' } %>
      			</button>
		</div> 
</div>

</li>
