<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
  <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">  
  <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<title>HAOZHOU BLOG</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- The main CSS file -->
        <link href="../app/assets/stylesheets/main.css" rel="stylesheet">

        <!-- CSS file for your custom modifications -->
        <link href="css/custom.css" rel="stylesheet">

        <link rel="shortcut icon" href="app/assets/images/favicon.ico">

        <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
        <!--[if lt IE 9]>
          <script src="js/html5shiv.js"></script>
        <![endif]-->
</head>

<body id="home" data-spy="scroll" data-target=".main-nav" data-offset="73">
<div id="parallax"></div>

<section id="header">

        <nav class="navbar navbar-fixed-top" role="navigation">

            <div class="navbar-inner">
                <div class="container">

                    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target="#navigation"></button>

                    <!-- Logo goes here - replace the image with yours -->
                    <a href="/" class="navbar-brand"><img src="/images/rainbow.jpg" class="logo-img img-responsive" alt="HAOZHOU Blog" title="HAOZHOU! Logo"></a>


                    <div class="collapse navbar-collapse main-nav" id="navigation">

                        <ul class="nav pull-right">
                            <!-- Menu items go here -->
                            <li class="active hidden"><a href="#index">Home</a></li>
                            <li><%= link_to 'My Blog', controller: 'articles' %></li>
			    <li><%= link_to 'New article', new_article_path %></li>
                        </ul>

                    </div><!-- /nav-collapse -->
                </div><!-- /container -->
            </div><!-- /navbar-inner -->
        </nav>

    </section>

    <!--//////////////////////////////////////// end NAVIGATION BAR ////////////////////////////////////////-->


<!--/////////////////////////////////////// HERO SECTION ////////////////////////////////////////-->

    <section id="hero">

        <div class="container">
            <div class="row">

                <div class="col-md-6 intro">
                    <img src="/images/rainbow.jpg" alt="HAOZHOU BLOG" title="HAOZHOU BLOG" height="200px">
                    <p class="lead">Hey bro, what's up!</p>
                </div>

            </div><!-- /row -->
        </div><!-- /container -->

    </section>

    <!--///////////////////////////////////////////////// end HERO SECTION ////////////////////////////////////////-->

<!--/////////////////////////////////////// BLOG SECTION ////////////////////////////////////////-->

<section id="blog">
	<div class="container">
	<div class="col-md-8 main-column">
		<div class="blog-item">
     			<div class="blog-main">

				<a href="#" class="blog-title"><%= @article.title %></a>
 
				<p> <%= @article.text %> </p>
 

			</div> <!-- /blog-main -->
			

			<!--/// COMMENTS SECTION ///-->
                        <h3>Comments</h3>
				<ul class="comments">
					<%= render @article.comments %>
 				</ul>
			<!--/// COMMENTS SECTION END ///-->

			
			



				<h2>Add a comment:</h2>
				<%= render 'comments/form' %>
 
				<%= link_to 'Edit', edit_article_path(@article) %> |
				<%= link_to 'Back', articles_path %>

		</div>

		
	</div>
	</div>
</section>
<!--//////////////////////////////////////// END BLOG SECTION ////////////////////////////////////////-->


</br></br></br>
<!--//////////////////////////////////////// FOOTER SECTION ////////////////////////////////////////-->
    <section id="footer">
        <div class="bottom-menu-inverse">

            <div class="container">

                <div class="row">
                    <div class="col-md-6">
                        <p>Copyright &copy; 2018 Haozhou ZHANG.</p>
                    </div>

                    
                </div>
            
            </div><!-- /row -->
        </div><!-- /container -->

    </section>

    <!--//////////////////////////////////////// end FOOTER SECTION ////////////////////////////////////////-->